.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.scoreboard {
  background-color: #222; 
  font-family: myFirstFont;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 38px rgba(250, 255, 0, 0.54);
width: 80%;
  padding: 10px;
  margin:auto;
    border-radius: 5px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.top-container {
  width: 80%;
  margin: 10%;
  padding: 20px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

@font-face {
  font-family: myFirstFont;
  src: url("./font/The-Led-Display.ttf");
}
body {
  background-image: url("./images/bkgd-main.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.img-thumbnail {
  width: 200px;
  margin: 5px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}